@tailwind base;
@tailwind components;
@tailwind utilities;

/** SuisseIntl **/
@font-face {
  font-family: 'SuisseIntl';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/SuisseIntl-Regular.woff2') format('woff2');
} 
@font-face {
  font-family: 'SuisseIntl';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/SuisseIntl-Medium.woff2') format('woff2');
} 
@font-face {
  font-family: 'SuisseIntl';
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/SuisseIntl-SemiBold.woff2') format('woff2');
}

body, html {
}
body {
}

h1{
  font-size : 26px; 
}